In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
np.set_printoptions(threshold=sys.maxsize)

In [33]:
categorical = pd.read_csv('/Users/erinberardi/Downloads/categorical.csv')
numerical = pd.read_csv('/Users/erinberardi/Downloads/numerical.csv')
target = pd.read_csv('/Users/erinberardi/Downloads/target.csv')

data = pd.concat([categorical,numerical,target],axis=1)

In [34]:
data.head()

,Unnamed: 0,OSOURCE,STATE,ZIP,CLUSTER,HOMEOWNR,GENDER,DATASRCE,SOLIH,VETERANS,...,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2,Unnamed: 0,TARGET_B,TARGET_D
0,0,GRI,IL,61081,36,U,F,3,NaN,NaN,...,9003.0,4.0,7.741935,95515,0,4,39.0,0,0,0.0
1,1,BOA,CA,91326,14,H,M,3,NaN,NaN,...,9504.0,18.0,15.666667,148535,0,2,1.0,1,0,0.0
2,2,AMH,NC,27017,43,U,M,3,NaN,NaN,...,9101.0,12.0,7.481481,15078,1,4,60.0,2,0,0.0
3,3,BRY,CA,95953,44,U,F,3,NaN,NaN,...,8711.0,9.0,6.812500,172556,1,4,41.0,3,0,0.0
4,4,NaN,FL,33176,16,H,F,3,12.0,NaN,...,8005.0,14.0,6.864865,7112,1,2,26.0,4,0,0.0

In [35]:
data = data.drop('Unnamed: 0',axis = 1)
data

,OSOURCE,STATE,ZIP,CLUSTER,HOMEOWNR,GENDER,DATASRCE,SOLIH,VETERANS,RFA_2R,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2,TARGET_B,TARGET_D
0,GRI,IL,61081,36,U,F,3,NaN,NaN,L,...,8911,9003.0,4.0,7.741935,95515,0,4,39.0,0,0.0
1,BOA,CA,91326,14,H,M,3,NaN,NaN,L,...,9310,9504.0,18.0,15.666667,148535,0,2,1.0,0,0.0
2,AMH,NC,27017,43,U,M,3,NaN,NaN,L,...,9001,9101.0,12.0,7.481481,15078,1,4,60.0,0,0.0
3,BRY,CA,95953,44,U,F,3,NaN,NaN,L,...,8702,8711.0,9.0,6.812500,172556,1,4,41.0,0,0.0
4,NaN,FL,33176,16,H,F,3,12.0,NaN,L,...,7903,8005.0,14.0,6.864865,7112,1,2,26.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,other,99504,27,U,M,3,NaN,NaN,L,...,9602,NaN,9.0,25.000000,184568,0,1,12.0,0,0.0
95408,DCD,TX,77379,24,H,M,3,NaN,NaN,L,...,9603,NaN,9.0,20.000000,122706,1,1,2.0,0,0.0
95409,MBC,MI,48910,30,U,M,3,NaN,NaN,L,...,9410,9501.0,3.0,8.285714,189641,1,3,34.0,0,0.0
95410,PRV,CA,91320,24,H,F,2,12.0,NaN,L,...,8612,8704.0,4.0,12.146341,4693,1,4,11.0,1,18.0
95411,MCC,NC,28409,24,U,F,3,12.0,NaN,L,...,8803,8809.0,6.0,96.794872,185114,1,1,12.0,0,0.0

In [36]:
data['GENDER'].value_counts(dropna=False)

F    54234
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [37]:
data["GENDER"].replace({"J": "U", "C": "U","A":"U"}, inplace=True)

In [38]:
data['GENDER'].value_counts(dropna=False)

F    54234
M    39094
U     2084
Name: GENDER, dtype: int64

In [39]:
target_d = data[data['TARGET_D']!=0]

In [40]:
#checking for NaNs
print(data.isna().sum())

nulls = [column for column in data if data[column].isna().sum() > 0]
print(nulls)

OSOURCE     928
STATE         0
ZIP           0
CLUSTER       0
HOMEOWNR      0
           ...
HPHONE_D      0
RFA_2F        0
CLUSTER2      0
TARGET_B      0
TARGET_D      0
Length: 338, dtype: int64
['OSOURCE', 'SOLIH', 'VETERANS', 'WEALTH1', 'MSA', 'ADI', 'DMA', 'NEXTDATE']

In [41]:
data=data.drop(nulls, axis=1)
data=data.drop('ZIP',axis = 1)
data

,STATE,CLUSTER,HOMEOWNR,GENDER,DATASRCE,RFA_2R,RFA_2A,GEOCODE2,DOMAIN_A,DOMAIN_B,...,LASTDATE,FISTDATE,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2,TARGET_B,TARGET_D
0,IL,36,U,F,3,L,E,C,T,2,...,9512,8911,4.0,7.741935,95515,0,4,39.0,0,0.0
1,CA,14,H,M,3,L,G,A,S,1,...,9512,9310,18.0,15.666667,148535,0,2,1.0,0,0.0
2,NC,43,U,M,3,L,E,C,R,2,...,9512,9001,12.0,7.481481,15078,1,4,60.0,0,0.0
3,CA,44,U,F,3,L,E,C,R,2,...,9512,8702,9.0,6.812500,172556,1,4,41.0,0,0.0
4,FL,16,H,F,3,L,F,A,S,2,...,9601,7903,14.0,6.864865,7112,1,2,26.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,other,27,U,M,3,L,G,C,C,2,...,9602,9602,9.0,25.000000,184568,0,1,12.0,0,0.0
95408,TX,24,H,M,3,L,F,A,C,1,...,9603,9603,9.0,20.000000,122706,1,1,2.0,0,0.0
95409,MI,30,U,M,3,L,E,B,C,3,...,9610,9410,3.0,8.285714,189641,1,3,34.0,0,0.0
95410,CA,24,H,F,2,L,F,A,C,1,...,9701,8612,4.0,12.146341,4693,1,4,11.0,1,18.0
95411,NC,24,U,F,3,L,G,C,C,1,...,9612,8803,6.0,96.794872,185114,1,1,12.0,0,0.0

In [42]:
X = data.drop(['TARGET_B','TARGET_D'],axis=1)
y = data['TARGET_B']

In [8]:
data.columns

Index(['STATE', 'CLUSTER', 'HOMEOWNR', 'GENDER', 'DATASRCE', 'RFA_2R',
       'RFA_2A', 'GEOCODE2', 'DOMAIN_A', 'DOMAIN_B',
       ...
       'LASTDATE', 'FISTDATE', 'TIMELAG', 'AVGGIFT', 'CONTROLN', 'HPHONE_D',
       'RFA_2F', 'CLUSTER2', 'TARGET_B', 'TARGET_D'],
      dtype='object', length=329)

In [44]:
data['TARGET_B'].value_counts()

0    90569
1     4843
Name: TARGET_B, dtype: int64

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [46]:
#cat/num X-train
#make a split between the continuous and discrete variables as I don't want to scale or encode the discrete ones, I want to keep their current values
X_train_num = X_train.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(object)

#cat/num X-test
X_test_num = X_test.select_dtypes(include = np.number)
X_test_cat = X_test.select_dtypes(object)


from sklearn.preprocessing import StandardScaler
#Scale X-train
transformer = StandardScaler().fit(X_train_num)
X_scaled_train = pd.DataFrame(transformer.transform(X_train_num),columns=X_train_num.columns)

#Scale X-test
X_scaled_test = pd.DataFrame(transformer.transform(X_test_num),columns=X_test_num.columns)
X_scaled_test

,CLUSTER,DATASRCE,DOMAIN_B,ODATEDW,TCODE,DOB,AGE,INCOME,HIT,MALEMILI,...,MAXRDATE,LASTGIFT,LASTDATE,FISTDATE,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F,CLUSTER2
0,-0.432393,-0.968556,-1.244325,-0.118835,-0.026079,0.227364,0.234896,1.099738,-0.356474,-0.208291,...,0.400708,-0.021464,-0.750232,-0.084580,-0.986163,-0.289350,0.960635,0.998205,-0.847041,-1.097544
1,-1.266182,-0.968556,2.831895,-1.285204,-0.055190,0.601317,-0.250124,0.512369,-0.356474,-0.208291,...,0.342569,-0.165188,-0.892382,-1.354737,-0.711016,-0.492709,-0.499250,-1.001798,-0.847041,-0.084210
2,-0.988253,0.635131,-1.244325,-0.118835,-0.055190,1.163420,-1.081586,1.687107,-0.248397,-0.208291,...,0.394894,0.553431,-0.770539,-0.081444,-0.160720,0.431038,1.143500,0.998205,-0.847041,-1.417544
3,0.679325,0.635131,0.114415,-1.576796,-0.056269,-1.277834,0.000122,0.512369,-0.356474,-0.208291,...,-3.139948,-0.524497,1.097714,-1.646402,-0.986163,-0.588761,-1.175034,-1.001798,0.084602,-1.417544
4,0.748807,0.635131,0.114415,1.339126,-0.056269,1.162482,-1.081586,-0.662369,-0.356474,9.583069,...,0.929772,0.194121,1.097714,1.461561,0.114427,0.599879,1.165807,0.998205,-0.847041,0.449124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28619,-0.154464,0.635131,0.114415,-0.702020,-0.056269,0.087542,0.442761,-1.249738,-0.140320,4.987125,...,0.406522,1.272049,-0.729925,-1.025437,-0.435868,0.411596,-1.116356,0.998205,0.084602,0.075790
28620,-1.127217,0.635131,-1.244325,1.047534,-0.055190,1.068642,-0.943009,-0.075000,0.291988,-0.208291,...,0.923958,0.912740,1.077407,0.856276,0.389575,1.200203,0.360556,0.998205,0.084602,-0.617543
28621,-0.571358,-0.968556,0.114415,1.339126,-0.056269,1.444002,-1.497316,-1.249738,-0.356474,-0.008467,...,0.929772,0.050398,1.118021,1.461561,-0.986163,0.419782,1.070198,-1.001798,0.084602,1.089124
28622,1.304667,0.635131,0.114415,-1.285204,-0.055190,0.460088,-0.042258,1.099738,0.616219,-0.208291,...,-1.919032,-0.452635,-0.811153,-1.361009,-0.573442,-0.447527,-1.406236,0.998205,0.084602,0.342457
28623,-0.293429,0.635131,-1.244325,-0.410428,-0.056269,-1.277834,0.000122,-0.075000,0.508142,-0.208291,...,0.383267,-0.165188,1.077407,-0.395063,-0.848590,-0.313470,1.476150,-1.001798,1.016246,-1.097544

In [47]:
display(X_train_cat)
display(X_test_cat)

       STATE HOMEOWNR GENDER RFA_2R RFA_2A GEOCODE2 DOMAIN_A
29447  other        U      M      L      F        B        C
12264     FL        H      M      L      F        A        S
18175     IL        H      M      L      F        A        U
41501  other        U      F      L      F        B        S
39788     CA        H      F      L      F        A        S
...      ...      ...    ...    ...    ...      ...      ...
21243     WI        H      F      L      E        B        S
45891     GA        U      F      L      F        D        T
42613  other        U      M      L      D        D        R
43567     FL        H      M      L      G        C        T
68268  other        U      F      L      E        C        R

[66788 rows x 7 columns]

       STATE HOMEOWNR GENDER RFA_2R RFA_2A GEOCODE2 DOMAIN_A
58053     CA        H      F      L      F        A        C
9484      MI        H      M      L      F        A        U
13395     CA        H      M      L      G        A        S
1466      MO        U      F      L      E        A        T
2076      CA        U      M      L      F        B        T
...      ...      ...    ...    ...    ...      ...      ...
25637     FL        H      F      L      G        C        C
34125     TX        H      M      L      G        A        S
54952     CA        H      F      L      F        A        S
33728     NC        H      M      L      E        C        R
85248  other        U      M      L      F        C        C

[28624 rows x 7 columns]

In [48]:
X_train_cat['STATE'].value_counts(dropna = False)

other    21358
CA       12130
FL        5903
TX        5195
IL        4535
MI        3890
NC        2885
WA        2595
GA        2375
IN        2100
WI        1943
MO        1879
Name: STATE, dtype: int64

In [50]:
X_test_cat['HOMEOWNR'].value_counts(dropna = False)

H    15794
U    12830
Name: HOMEOWNR, dtype: int64

In [51]:
X_test_cat['GENDER'].value_counts(dropna = False)

F    16376
M    11636
U      612
Name: GENDER, dtype: int64

In [55]:
y_train.value_counts()

0    63436
1     3352
Name: TARGET_B, dtype: int64

In [57]:
from sklearn.preprocessing import OneHotEncoder
#Create encoder
encoder = OneHotEncoder(drop='first').fit(X_train_cat)

#encode train
encoded_train = encoder.transform(X_train_cat).toarray()
encoded_train1 = pd.DataFrame(encoded_train)

#encode test
encoded_test = encoder.transform(X_test_cat).toarray()
encoded_test1 = pd.DataFrame(encoded_test)

In [63]:
X_train = pd.concat([X_scaled_train,encoded_train1], axis=1)
X_test = pd.concat([X_scaled_test,encoded_test1], axis = 1)

In [65]:
X_train.shape

(66788, 344)

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
# define the method
rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=30)
# fit the model
rfe.fit(X_train, y_train)
# transform the data
X, y = rfe.transform(X_train, y_train)

In [ ]:
# from sklearn.feature_selection import SelectKBest
# from sklearn.feature_selection import chi2
# display(X_train.shape)
# (150, 4)
# X_new = SelectKBest(chi2, k=2).fit_transform(X_train, y_train)
# display(X_new.shape)

In [10]:
#balacning data - upsampling
no_donate = data[data['TARGET_B']==0]
yes_donate = data[data['TARGET_B']==1]

from sklearn.utils import resample
yes_donate_oversampled = resample(yes_donate, 
                                    replace=True,
                                    n_samples = len(no_donate),
                                    random_state=42)


display(no_donate.shape)
display(yes_donate_oversampled.shape)

(90569, 329)

(90569, 329)

In [52]:
#oversampled = pd.concat([no_donate,yes_donate_oversampled])

In [ ]:
#X-Y Split, train-test split

X = oversampled.drop(['TARGET_B','TARGET_D'],axis=1)
y = oversampled['TARGET_B']

In [ ]:
train_scaled = pd.concat([encoded_train1,X_scaled_train],axis=1)
test_scaled = pd.concat([encoded_test1,X_scaled_test],axis=1)
df = pd.concat([test_scaled,train_scaled],axis=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=5,
                             min_samples_split=20,
                             min_samples_leaf =20)
clf.fit(train_scaled, y_train)
print('TrainSet = ',clf.score(train_scaled, y_train))
print('TestSet = ',clf.score(test_scaled, y_test))

In [ ]:
from sklearn.model_selection import cross_val_score

cross_val_scores = cross_val_score(clf, train_scaled, y_train, cv=10)
print(np.mean(cross_val_scores))
print(cross_val_scores)

In [ ]:
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix

In [ ]:

pred_RF = clf.predict(test_scaled)

print('accuracy:', accuracy_score(y_test, pred_RF))
print("precision: ",precision_score(y_test,pred_RF))
print("recall: ",recall_score(y_test,pred_RF))
print("f1: ",f1_score(y_test,pred_RF))

In [ ]:
plot_confusion_matrix(clf, test_scaled, y_test,cmap=plt.cm.Blues)  
plt.show()

In [ ]:
round(target_d['TARGET_D'].mean(),2)

In [ ]:
donation_gained = 11236 * 15.62
donation_lost = 7018 * 15.62
spend_marketing = (7072+11236) * 0.68
no_return_marketing = 7072 * 0.68

print('Donation amount gained:',round(donation_gained,2))
print('Donation amount lost:',round(donation_lost,2))
print('Amount spend on marketing:',round(spend_marketing,2))
print('Amount lost on marketing:',round(no_return_marketing,2))

In the above plot we can see that there are 7018 people of whom the model predicts they won't donate, when they actually would donate, AKA falsely predicted non-donators. There are also 7072 people of whom the model predicts they will donate, when they actually don't. When we look at the average donation amount of someone who actually donates this lays around 15.62 dollars. As also becomes clear in the calculations above, we can see that with the current model we miss out on 109.621 dollars of donations by not sending marketing efforts to these 7018 falsely predicted non-donators. This is a huge amount when you see that we only raise 175.506 dollars with this model. 

Zooming in on the costs to send the marketing packages: in this scenario we spend a total of 12.449 dollars on marketing. Of which 4808 dollars does not yield any donation. When we compare this with the 109.621 dollars we are missing out off by not sending them anything, we can clearly conclude that it's in the best interest of Healthcare 4 All to have a model in which we have the lowest amount of falsely predicted non-donators. 

In order to improve this model I would use GridSearch or Random Search to be able to improve my RandomForest model. If that does not help enough I would use SMOTE to balance my data and then run the same model. If that also isn't enough I will use a Logistic Regression with manual weights to minimize the number of falsely predicted non-donators.